---
import { storyblokEditable } from '@storyblok/astro';
const { blok } = Astro.props;
---

<article {...storyblokEditable(blok)} class="article__container">
  <h3 class="about__title">{blok.title}</h3>
  <p class="paragraph__container">{blok.text}</p>
</article>
<style>
  .article__container {
    background-color: var(--black);
    color: white;
    flex: 1;
    padding: var(--sm);
  }
</style>