---
import { storyblokEditable } from '@storyblok/astro';
import Menu from '../components/Menu.astro';
const { blok } = Astro.props;
---

<header {...storyblokEditable(blok)} class="header__container">
  <h1 class="header__1">{blok.title}</h1>
  <Menu />
</header>
<style>
  h1 {
    font-size: var(--med);
  }
  @media (min-width: 380px) {
    h1 {
      font-size: var(--lrg);
    }
  }
  @media (min-width: 620px) {
    h1 {
      font-size: var(--x-lrg);
    }
  }
  @media (min-width: 821px) {
    h1 {
      font-size: var(--xx-lrg);
    }
  }

  .header__container {
    position: relative;
    margin-bottom: var(--med);
  }
</style>
