---
import { storyblokEditable } from '@storyblok/astro';
import Menu from '../components/Menu.astro';
const { blok } = Astro.props;
---

<header {...storyblokEditable(blok)} class="header__container">
  <h1 class="header__1">{blok.title}</h1>
  <Menu />
</header>
<style>
  h1 {
    font-size: var(--lrg);
  }
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--med);
  }
</style>
