---
import { storyblokEditable, renderRichText } from '@storyblok/astro';
import { Picture } from '@astrojs/image/components';
import Dots from '../components/Dots.astro';

const { blok } = Astro.props;

const content = renderRichText(blok.content);
---

<section {...storyblokEditable(blok)} class="hero__container">
  <Picture
    class="picture__container"
    src={blok.image.filename}
    widths={[900]}
    sizes="900px"
    aspectRatio="16:9"
    alt="alt"
  />
  <div class="info__container">
    <div class="text__container">
      <h3 class="header__3 hero__header">{blok.title}</h3>
      <Fragment set:html={content} />
    </div>
    <Dots count={5} />
  </div>
</section>
<style>
  .hero__container {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 940px) {
    .hero__container {
      flex-direction: row;
    }
  }
  .info__container {
    padding: var(--sm);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 300px;
  }
  .picture__container {
    flex: 2 2 600px;
    object-fit: cover;
    height: 100%;
  }
</style>
