---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} class="section__container">
  <h2>{blok.title}</h2>
  <div class="row__container row__container__3">
    {
      blok.bloks.map((blok) => {
        return <StoryblokComponent blok={blok} />;
      })
    }
  </div>
</section>
