---
import { Picture } from '@astrojs/image/components';
import { storyblokEditable, renderRichText } from '@storyblok/astro';

const { blok } = Astro.props;
const description = renderRichText(blok.description);
---

<main {...storyblokEditable(blok)}>
  <article class="show__container">
    <h1>{blok.name}</h1>
    <Picture src={blok.image.filename} widths={[340]} sizes="340px" aspectRatio="3:4" alt="alt" />
    <div class="description__container">
      <Fragment class="paragraph__container" set:html={description} />
    </div>
  </article>
</main>
<style>
  .show__container {
    position: relative;
    background-color:var(--black);
    color: white;
  }
  .description__container {
    padding: var(--sm);
    padding-bottom: var(--lrg);
  }
  .picture__container {
    max-height: 600px;
  }
</style>