---
import Menu from '../components/Menu.astro';
---

<header class="header__container">
  <h1 class="header__1">
    My Eyes! My Eyes!
  </h1>
  <img src="/MyEyes_swirly.png" alt="" />
  <Menu />
</header>
<style>
  .header__container {
    position: relative;
  }
</style>
<style>
  header {
    padding-top: var(--med);
  }
  h1 {
    display: none;
  }
  img {
    width: 70%;
    max-width: 800px;
  }
</style>
