---
import Menu from '../components/Menu.astro';
---

<header class="header__container">
  <h1 class="header__1">My Eyes! My Eyes!</h1>
  <Menu />
</header>
<style>
  .header__container {
    position: relative;
    margin-bottom: var(--lrg);
  }
</style>
<script is:inline src="https://cse.google.com/cse.js?cx=d452bf1a5dc9f4eed"></script>
