---
import Search from './Search.astro';
---

<nav class="navbar">
  <div class="nav__buttons">
    <button class="menu__button">
      <svg
        class="menu__icon"
        fill="#000000"
        width="800px"
        height="800px"
        viewBox="0 0 512 512"
        xmlns="http://www.w3.org/2000/svg"
        ><title>ionicons-v5-j</title><path
          d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"></path></svg
      >
    </button>
  </div>

  <div class="gcse-search"></div>
  <menu class="dropdown__menu">
    <li class="navbar__item"><a href="/">Home</a></li>
    <li class="navbar__item"><a href="/shows">Shows</a></li>
    <li class="navbar__item"><a href="/about">About</a></li>
  </menu>
  <menu class="desktop__menu">
    <li class="navbar__item"><a href="/">Home</a></li>
    <li class="navbar__item"><a href="/shows">Shows</a></li>
    <li class="navbar__item"><a href="/about ">About</a></li>
  </menu>
  <Search />
</nav>
<style>
  .navbar {
    width: 100%;
  }
  .nav__buttons {
    position: absolute;
    top: var(--lrg);
    right: var(--lrg);

  }
  .desktop__menu {
    position: absolute;
    display: none;
    top: var(--sm);
    right: var(--med);
    list-style: none;
  }
  @media (min-width: 1060px) {
    .desktop__menu {
      display: flex;
      flex-direction: row;
      gap: var(--med);
    }
    .nav__buttons {
      display: none;
    }
  }
  .dropdown__menu {
    display: none;
    width: 100%;
    margin-top: var(--sm);
    padding: 0 var(--sm);
    background-color: var(--grey);
    flex-direction: column;
    align-items: start;
    list-style: none;
    gap: var(--xx-sm);
    animation: scaleDown .25s ease-in-out forwards;
    transform-origin: top center;
  }
  .dropdown__menu__active {
    display: flex;
    transform: translateY(0);
  }
  .navbar__item a {
    font-size: var(--med);
    font-weight: 700;
    text-decoration: none;
    color: black;
  }
  button {
    height: 40px;
    width: 40px;
  }
  .search__button {
    padding: 2px 4px;
  }
  .menu__button {
  }
  @media (min-width: 410px) {
    button {
      top: 12px;
    }
  }
  svg {
    height: 100%;
  }
  @keyframes scaleDown {
    0% {
      transform: scaleY(0);
    }

    80% {
      transform: scaleY(1.1);
    }

    100% {
      transform: scaleY(1);
    }
  }
</style>
<script>
  const menuButton = document.querySelector('.menu__button');
  const menuList = document.querySelector('.dropdown__menu');

  menuButton.addEventListener('click', (e) => handleMenuClick(e));

  function handleMenuClick(e) {
    e.preventDefault();
    if (menuList.classList.contains('dropdown__menu__active')) {
      menuList.classList.remove('dropdown__menu__active');
      menuList.style.transform = 'translateY(-100%)';
    } else {
      menuList.classList.add('dropdown__menu__active');
      menuList.style.transform = 'translateY(0)';
    }
  }
</script>
