---
import Search from './Search.astro';
---

<nav class="navbar">
  <button class="menu__button">
    <img class="menu__icon" src="menu.svg" alt="" />
  </button>
  <button class="search__button">
    <img class="search__icon" src="search.svg" alt="" />
  </button>
  <menu class="menu">
    <li class="navbar__item"><a href="#">About</a></li>
    <li class="navbar__item"><a href="#">Shows</a></li>
    <li class="navbar__item"><a href="# ">More</a></li>
  </menu>
  <Search />
</nav>
<style>
  .navbar {
    height: fit-content;
  }
  .menu {
    display: none;
    width: 100%;
    padding: 0 var(--sm);
    background-color: gainsboro;
    flex-direction: column;
    align-items: start;
    list-style: none;
    gap: var(--xx-sm);
  }
  .menu__active {
    display: flex;
  }
  .navbar__item a {
    font-size: var(--med);
    font-weight: 700;
    text-decoration: none;
    color: black;
  }
  .search__button {
    position: absolute;
    top: 16px;
    right: 0;
  }
  .menu__button {
    position: absolute;
    top: calc(16px - 5px);
    right: 30px;
  }
  .search__icon {
    height: 26px;
  }
  .menu__icon {
    height: 36px;
  }
</style>
<script>
  const menuButton = document.querySelector('.menu__button');
  const menuList = document.querySelector('.menu');

  menuButton.addEventListener('click', (e) => handleMenuClick(e));

  function handleMenuClick(e) {
    e.preventDefault();
    if (menuList.classList.contains('menu__active')) menuList.classList.remove('menu__active');
    else menuList.classList.add('menu__active');
  }
  const searchButton = document.querySelector('.search__button');
  const searchContainer = document.querySelector('.search__container');

  searchButton.addEventListener('click', (e) => handlesearchClick(e));

  function handlesearchClick(e) {
    e.preventDefault();
    if (searchContainer.classList.contains('search__container__active'))
      searchContainer.classList.remove('search__container__active');
    else searchContainer.classList.add('search__container__active');
  }
</script>
