---
---

<div class="search__container">
  <label class="search__label" for="search">Search</label>
  <input class="search__input" type="text" name="search" id="" placeholder="Search" />
</div>
<style>
  .search__container {
    background-color: white;
    padding: 0 4px 4px 4px;
    border-radius: 2px;
    z-index: 10;
    display: none;
    width: 100%;
  }
  .search__container__active {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .search__label {
    display: none;
  }
  .search__input {
    border: none;
    outline: none;
    width: 100%;
    max-width: 600px;
    padding: var(--xx-sm) var(--sm);
    border-bottom: 1px solid var(--dark-grey);
  }
  
</style>
